Repository lintquarto/lintquarto: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-package, lint-docs

lint-package:
  name: Lint Package
  entry: ./lint_package.sh
  language: system
  pass_filenames: true
  stages:
  - commit

lint-docs:
  name: Lint Documentation
  entry: ./lint_docs.sh
  language: system
  pass_filenames: true
  stages:
  - commit

fix(workflows): fix misunderstandings about uv...
  .github/workflows/build-publish.yaml
  .github/workflows/docs.yaml
Due: none

fix(docs): switch to mamba for docs action
  .github/workflows/docs.yaml
Due: none

feat(linters:ruff): ignore RUF100 (#120) and INP001 (#141) by default
  docs/pages/tools/ruff.qmd
  src/lintquarto/__main__.py
  src/lintquarto/linters.py
  tests/examples_config_ruff_invalid/general_example.qmd
  tests/examples_config_ruff_invalid/pyproject.toml
  tests/examples_config_ruff_valid/general_example.qmd
  tests/examples_config_ruff_valid/pyproject.toml
  tests/examples_config_ruff_valid/ruff.toml
  tests/test_linters.py
Due: lint-package, lint-docs

chore(linters:ruff): lint ruff exclusion tweaks and associated tests
  src/lintquarto/linters.py
  tests/test_linters.py
Due: lint-package

feat(linters:ruff): simplified approach (#120 and #141) (as messaged about in slack)
  docs/pages/tools/ruff.qmd
  src/lintquarto/__main__.py
  src/lintquarto/linters.py
  tests/examples_config_ruff_invalid/general_example.qmd
  tests/examples_config_ruff_invalid/pyproject.toml
  tests/examples_config_ruff_valid/general_example.qmd
  tests/examples_config_ruff_valid/pyproject.toml
  tests/examples_config_ruff_valid/ruff.toml
  tests/test_linters.py
Due: lint-package, lint-docs

docs(all-contributors): add sammi and anna
  .all-contributorsrc
  README.md
Due: none

docs(README): fix table and mention awesome-quarto
  README.md
Due: none

fix(docs): revert to uv for action, but pin griffe in pyproject instead
  .github/workflows/docs.yaml
  pyproject.toml
Due: none

fix(docs): add quarto as I removed it oops
  .github/workflows/docs.yaml
Due: none

docs(all-contributors): add @nlebovits for #93
  .all-contributorsrc
  README.md
Due: none

refactor(__main__): move functions into separate modules (#135) (+linting)
  src/lintquarto/__main__.py
  src/lintquarto/cli.py
  src/lintquarto/linters.py
  src/lintquarto/processing.py
  tests/test_linters.py
  tests/test_main.py
Due: lint-package

fix(docs): update _quarto.yml function list following refactor (#135)
  docs/_quarto.yml
Due: none

refactor(tests): main -> cli + processing
  tests/test_cli.py
  tests/test_processing.py
Due: lint-package

fix(cli/processing): fixes and tests for #137 and #140
  src/lintquarto/cli.py
  src/lintquarto/processing.py
  tests/test_cli.py
  tests/test_processing.py
Due: lint-package

docs/ci(cli): automate cli documentation (fixes #130)
  .github/workflows/check-readme-cli.yaml
  README.md
  docs/_quarto.yml
  docs/cli/check-readme.py
  docs/cli/cli-help.md
  docs/cli/generate-cli.py
  docs/pages/get_started.qmd
Due: lint-package, lint-docs

ci(cli): remove if statement which I removed when deciding to just do on pull request generally rather than after docs workflow run
  .github/workflows/check-readme-cli.yaml
Due: none

ci(cli): fix action (forgot I need lintquarto so I can run lintquarto --help!)
  .github/workflows/check-readme-cli.yaml
Due: none

fix(chunkoptions): keep as placeholders - no need to be saving full chunk option (which therefore also fixes #138)
  src/lintquarto/converter.py
  tests/test_converter.py
Due: lint-package

refactor(converter): use append_converter
  src/lintquarto/converter.py
Due: lint-package

docs(pycodestyle): explain limitation for E3xx rules + workaround (#142)
  docs/pages/tools/pycodestyle.qmd
Due: lint-docs

docs(summary): correct the unique filename name example
  docs/pages/tools/summary.qmd
Due: lint-docs

feat(cli/linters): add list command (#131)
  docs/_quarto.yml
  docs/cli/cli-help.md
  src/lintquarto/cli.py
  src/lintquarto/linters.py
Due: lint-package

fix/docs(cli): update generate-cli to correctly format commands, then update cli-help.md and README.md
  README.md
  docs/cli/cli-help.md
  docs/cli/generate-cli.py
Due: lint-package, lint-docs

refactor(tree-sitter): MAJOR refactor - regex to tree-sitter. Confirmed consistent behaviour with tests. (#106)
  pyproject.toml
  src/lintquarto/converter.py
Due: lint-package

test(converter): minor amendments to support new tree-sitter syntax (no change in test logic though) (#106)
  pyproject.toml
  tests/test_converter.py
Due: lint-package

chore(3.9): mark as only supporting 3.10+ due to tree-sitter-markdown incompatability with 3.9
  .github/workflows/tests.yaml
  CONTRIBUTING.md
  README.md
  docs/pages/get_started.qmd
  pyproject.toml
Due: lint-docs

refactor(converter): spacing + line count linters now constants (#162)
  src/lintquarto/converter.py
Due: lint-package

feat/refactor(custom-command): add generic external hook (#159), which increased complexity so refactored (#161)
  README.md
  docs/cli/cli-help.md
  src/lintquarto/cli.py
  src/lintquarto/converter.py
  src/lintquarto/processing.py
  tests/test_cli.py
Due: lint-package

chore(readme): consistent cli-help
  README.md
Due: none

fix(cli): fix issue with shlex on Windows
  src/lintquarto/cli.py
Due: lint-package

feat(config): add option to list arguments in pyproject.toml (#132)
  src/lintquarto/cli.py
  src/lintquarto/config.py
Due: lint-package

test(config): add tests for config (#132)
  tests/test_config.py
Due: lint-package

docs(config): update docs + README with info on configuration file (#132)
  README.md
  docs/cli/cli-help.md
  docs/cli/generate-cli.py
  docs/pages/get_started.qmd
  src/lintquarto/cli.py
Due: lint-package, lint-docs

docs(readme): update mention of PyOpenSci
  README.md
Due: none

chore(v0.12.0): update files for release
  CHANGELOG.md
  CITATION.cff
  README.md
  src/lintquarto/__init__.py
Due: lint-package

chore(v0.12.0): mention 3.9 removal in changelog
  CHANGELOG.md
Due: none

docs(README): uv installation instructions
  README.md
Due: none

docs(README): add TomMonks to all-contributors + add ruff badge
  .all-contributorsrc
  README.md
Due: none

feat(format): converter can generate py file in more suitable format for formatter (#93)
  src/lintquarto/converter.py
Due: lint-package

fix(converter): remove unneeded argument given to _make_row_to_block
  src/lintquarto/converter.py
Due: lint-package

Path conditions:
  lint-package: any of: \.py$
  lint-docs: any of: ^docs/.*\.(py|qmd)$
