Repository lintquarto/lintquarto: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-package, lint-docs

lint-package:
  name: Lint Package
  entry: ./lint_package.sh
  language: system
  pass_filenames: true
  stages:
  - commit

lint-docs:
  name: Lint Documentation
  entry: ./lint_docs.sh
  language: system
  pass_filenames: true
  stages:
  - commit

ci(precommit): temporarily stash unstaged changes when run
  .pre-commit-config.yaml
Due: none

ci(precommit): remove stages: [commit] (does anyway, did nothing adding lines)
  .pre-commit-config.yaml
Due: none

test(filename): add test detecting duplicate filename triggering pylint (#79)
  tests/examples/existing_file.py
  tests/examples/existing_file.qmd
  tests/test_main.py
Due: lint-package

docs(contributing): add note explaining pre-commit messages
  CONTRIBUTING.md
Due: none

fix(converter): filename (1) to _1, amend tests accordingly (#79)
  src/lintquarto/converter.py
  tests/test_converter.py
Due: lint-package

test(runtime_checkable): add test detecting E302 error for function with protocol (#70)
  tests/examples/protocol_example.qmd
  tests/test_main.py
Due: lint-package

chore(runtime_checkable): rename protocol -> decorator
  tests/examples/decorator_example.qmd
  tests/test_main.py
Due: lint-package

fix(runtime_checkable): add E302 for decorators (#70)
  src/lintquarto/converter.py
Due: lint-package

fix/test(commas): add error if supply path with commas (and test to check error is raised) (#77)
  src/lintquarto/__main__.py
  tests/test_main.py
Due: lint-package

Built site for gh-pages
  .nojekyll
  index.html
  pages/api/CustomArgumentParser.html
  pages/api/LineLengthDetector.html
  pages/api/Linters.html
  pages/api/QmdToPyConverter.html
  pages/api/convert_qmd_to_py.html
  pages/api/gather_qmd_files.html
  pages/api/get_unique_filename.html
  pages/api/index.html
  pages/api/main.html
  pages/api/process_qmd.html
  pages/changelog.html
  pages/contributing.html
  pages/get_started.html
  pages/tools/flake8.html
  pages/tools/mypy.html
  pages/tools/pycodestyle.html
  pages/tools/pydoclint.html
  pages/tools/pyflakes.html
  pages/tools/pylint.html
  pages/tools/pyrefly.html
  pages/tools/pyright.html
  pages/tools/pytype.html
  pages/tools/radon.html
  pages/tools/ruff.html
  pages/tools/summary.html
  pages/tools/vulture.html
  search.json
  site_libs/quarto-html/quarto-syntax-highlighting-587c61ba64f3a5504c4d52d930310e48.css
  sitemap.xml
Due: none

fix(__main__): change list[str] typing List[str] for compat with 3.7 3.8 (#82)
  src/lintquarto/__main__.py
Due: lint-package

rm(branch-enforcement): blocking coverage badge... also decided no longer want this (#82)
  .github/workflows/branch-enforcement.yml
Due: none

Built site for gh-pages
  .nojekyll
  pages/tools/flake8.html
  pages/tools/mypy.html
  pages/tools/pycodestyle.html
  pages/tools/pydoclint.html
  pages/tools/pyflakes.html
  pages/tools/pylint.html
  pages/tools/pyrefly.html
  pages/tools/pyright.html
  pages/tools/pytype.html
  pages/tools/radon.html
  pages/tools/ruff.html
  pages/tools/vulture.html
  sitemap.xml
Due: none

chore(0.7.0): update changelog, citation, readme and __init__ for release
  CHANGELOG.md
  CITATION.cff
  README.md
  src/lintquarto/__init__.py
Due: lint-package

Built site for gh-pages
  .nojekyll
  pages/changelog.html
  pages/tools/flake8.html
  pages/tools/mypy.html
  pages/tools/pycodestyle.html
  pages/tools/pydoclint.html
  pages/tools/pyflakes.html
  pages/tools/pylint.html
  pages/tools/pyrefly.html
  pages/tools/pyright.html
  pages/tools/pytype.html
  pages/tools/radon.html
  pages/tools/ruff.html
  pages/tools/vulture.html
  search.json
  sitemap.xml
Due: none

docs(get_started): correct styling of conda install command
  docs/pages/get_started.qmd
Due: lint-docs

feat/ci(joss): add skeleton JOSS paper + paper build action
  .github/workflows/draft-pdf.yml
  paper.md
Due: none

chore(joss): remove paper.bib from paper.md
  paper.md
Due: none

ci(draft-pdf): edit so only runs on changes to paper.md
  .github/workflows/draft-pdf.yml
Due: none

docs(readme): add mention of PyOpenSci, JOSS paper + JOSS GitHub action
  README.md
Due: none

chore(draft-pdf): add source of GitHub action
  .github/workflows/draft-pdf.yml
Due: none

docs(joss): first draft JOSS
  paper.md
Due: none

docs(joss): add citations
  paper.bib
  paper.md
Due: none

docs(joss): revise/rewrite
  paper.bib
  paper.md
Due: none

refactor(joss): move paper to inst/, add codemeta.json, update readme contributing and action
  .github/workflows/draft-pdf.yml
  CONTRIBUTING.md
  README.md
  inst/codemeta.json
  inst/paper.bib
  inst/paper.md
Due: none

Built site for gh-pages
  .nojekyll
  index.html
  pages/api/CustomArgumentParser.html
  pages/api/LineLengthDetector.html
  pages/api/Linters.html
  pages/api/QmdToPyConverter.html
  pages/api/convert_qmd_to_py.html
  pages/api/gather_qmd_files.html
  pages/api/get_unique_filename.html
  pages/api/index.html
  pages/api/main.html
  pages/api/process_qmd.html
  pages/changelog.html
  pages/contributing.html
  pages/get_started.html
  pages/tools/flake8.html
  pages/tools/mypy.html
  pages/tools/pycodestyle.html
  pages/tools/pydoclint.html
  pages/tools/pyflakes.html
  pages/tools/pylint.html
  pages/tools/pyrefly.html
  pages/tools/pyright.html
  pages/tools/pytype.html
  pages/tools/radon.html
  pages/tools/ruff.html
  pages/tools/summary.html
  pages/tools/vulture.html
  search.json
  site_libs/quarto-html/quarto-syntax-highlighting-ed96de9b727972fe78a7b5d16c58bf87.css
  sitemap.xml
Due: none

docs(joss): correct research impact to current - can update to include others once ready
  inst/paper.bib
  inst/paper.md
Due: none

docs(joss): captialise Quarto/Python, say "Quarto Markdown" instead of qmd, make code quality tool definitions a list so easier to read, remove repetitive sentence at end of state of field
  inst/paper.md
Due: none

docs(joss): correct vulture bibtex
  inst/paper.bib
Due: none

refactor(vulture): move from linter to code analysis
  docs/_quarto.yml
  docs/pages/tools/summary.qmd
Due: lint-docs

docs(joss): correct vulture citation
  inst/paper.md
Due: none

test(eval): add test identifying eval error (#88)
  tests/examples/eval_example.qmd
  tests/test_main.py
Due: lint-package

feat(eval): add methods in QmdToPyConverter that detect eval setting from YAML front matter and from cell chunk options (#88)
  src/lintquarto/converter.py
Due: lint-package

build(requirements-dev): add types-PyYAML for mypy now we import yaml
  requirements-dev.txt
Due: none

test(eval): add tests for the new eval methods (#88)
  tests/test_converter.py
Due: lint-package

refactor(eval): save YAML front matter default as attribute (#88)
  src/lintquarto/converter.py
  tests/test_converter.py
Due: lint-package

refactor/feat(eval): add logic to skip chunks when eval false (#88)
  src/lintquarto/converter.py
Due: lint-package

test(eval): add tests for eval control of chunks kept/removed (#88)
  tests/test_converter.py
Due: lint-package

fix(eval): correct converter logic for eval (#88)
  src/lintquarto/converter.py
Due: lint-package

Path conditions:
  lint-package: any of: \.py$
  lint-docs: any of: ^docs/.*\.(py|qmd)$
