Repository lintquarto/lintquarto: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-package, lint-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-package
        name: Lint Package
        entry: ./lint_package.sh
        language: system
        pass_filenames: true
        files: \.py$
        stages: [commit]
      - id: lint-docs
        name: Lint Documentation
        entry: ./lint_docs.sh
        language: system
        pass_filenames: true
        files: ^docs/.*\.(py|qmd)$
        stages: [commit]

feat(formater): convert Linters to ToolRegistry, then make Linters and Formatters classes, now both in registry.py (#93)
  src/lintquarto/cli.py
  src/lintquarto/converter.py
  src/lintquarto/linters.py
  src/lintquarto/processing.py
  src/lintquarto/registry.py
  tests/test_environment.py
  tests/test_equivalence.py
  tests/test_linters.py
Due: lint-package

feat(format): add formatter command (inactive), validate formatters are present, and include formatters in lintquarto list (#93)
  src/lintquarto/cli.py
Due: lint-package

feat(format): working formatter (from a basic manual check) #93 + all existing tests passing
  src/lintquarto/cli.py
  src/lintquarto/converter.py
  src/lintquarto/processing.py
  tests/test_cell_magic.py
  tests/test_converter.py
  tests/test_equivalence.py
Due: lint-package

fix/docs(help): add metavar to fix formatter display + update cli docs
  README.md
  docs/cli/cli-help.md
  src/lintquarto/cli.py
Due: lint-package

ci(docs): amend action to only publish new docs on release (to avoid docs describing unreleased features)
  .github/workflows/docs.yaml
Due: none

docs(api): update reference... very out of date
  docs/_quarto.yml
Due: none

fix(config): add formatters
  src/lintquarto/config.py
Due: lint-package

chore(config): reorder + add headings
  src/lintquarto/config.py
Due: lint-package

refactor(cli): move merge functions into own module (#171)
  docs/_quarto.yml
  src/lintquarto/cli.py
  src/lintquarto/merge.py
Due: lint-package

feat: add ruff-format-check formatter for check-only formatting
  docs/cli/cli-help.md
  docs/pages/tools/ruff.qmd
  src/lintquarto/processing.py
  src/lintquarto/registry.py
  tests/test_formatters.py
Due: lint-package, lint-docs

refactor(cli): move parser into args.py, rename to main.py, add headings (#172)
  src/lintquarto/__main__.py
  src/lintquarto/args.py
  src/lintquarto/main.py
  tests/test_cli.py
Due: lint-package

refactor(run): refactor the run commands to help reduce code duplication (#171)
  src/lintquarto/main.py
Due: lint-package

refactor(run): move run functions from main.py to own module
  docs/_quarto.yml
  src/lintquarto/main.py
  src/lintquarto/runner.py
  tests/test_cli.py
Due: lint-package

refactor(run): convert from functions to a class, making it simpler when calling, less repetition between the three different calls
  docs/_quarto.yml
  src/lintquarto/main.py
  src/lintquarto/runner.py
Due: lint-package

feat(registry): add basedpyright static type checker (#175)
  README.md
  docs/_quarto.yml
  docs/cli/cli-help.md
  docs/pages/tools/basedpyright.qmd
  docs/pages/tools/summary.qmd
  pyproject.toml
  src/lintquarto/registry.py
  tests/test_back.py
  tests/test_cell_magic.py
  tests/test_converter.py
  tests/test_linters.py
Due: lint-package, lint-docs

feat(args/cli): amend to create simplified help string suggested in commit by @jaycrick
  README.md
  docs/cli/cli-help.md
  src/lintquarto/args.py
  src/lintquarto/cli.py
Due: lint-package

docs(all-contributors): update contributors
  .all-contributorsrc
  README.md
Due: none

test(basedpyright): expand + reposition back test
  tests/test_back.py
Due: lint-package

docs(readme): add PyOpenSci badge
  README.md
Due: none

docs(CONTRIBUTING): simplify slightly
  CONTRIBUTING.md
Due: none

chore(ruff): ruff format
  tests/test_back.py
Due: lint-package

fix(docs): add ToolRunner module in quartodoc sections
  docs/_quarto.yml
Due: none

fix(docs): correct cli module
  docs/_quarto.yml
Due: none

docs(summary): explain how to apply linting rules only to quarto files (#136)
  docs/pages/tools/summary.qmd
Due: lint-docs

refactor(converter): refactor converter (#171) (ruff + tests pass)
  src/lintquarto/convert/__init__.py
  src/lintquarto/convert/analyse_python.py
  src/lintquarto/convert/build_output.py
  src/lintquarto/convert/collect_python.py
  src/lintquarto/convert/constants.py
  src/lintquarto/convert/converter.py
  src/lintquarto/convert/filename.py
  src/lintquarto/convert/parse_yaml.py
  src/lintquarto/convert/rebuild_qmd.py
  src/lintquarto/converter.py
  src/lintquarto/processing.py
  tests/test_cell_magic.py
  tests/test_converter.py
  tests/test_equivalence.py
Due: lint-package

fix(docs): update API ref
  docs/_quarto.yml
Due: none

refactor(processing/runner): reorganise - merging some runner and processing, and moving some elsewhere (#171)
  docs/_quarto.yml
  src/lintquarto/gather.py
  src/lintquarto/main.py
  src/lintquarto/processing.py
  src/lintquarto/runner.py
  tests/test_cli.py
  tests/test_processing.py
Due: lint-package

docs(formatter): add warning that it is in alpha presently
  README.md
  docs/cli/cli-help.md
  src/lintquarto/args.py
Due: lint-package

ci(docs): amend back to publish on push to main (reverting 9d3d933)
  .github/workflows/docs.yaml
Due: none

chore(v0.13.0): prep for release
  CHANGELOG.md
  CITATION.cff
  README.md
  src/lintquarto/__init__.py
Due: lint-package

fix(_quarto): add missing package to quartodoc sections
  docs/_quarto.yml
Due: none

docs(formatters): update package description throughout to mention formatters
  CITATION.cff
  README.md
  docs/index.qmd
  docs/pages/tools/summary.qmd
  pyproject.toml
Due: lint-docs

docs(paper): update paper (#85)
  inst/codemeta.json
  inst/paper.bib
  inst/paper.md
Due: none

docs(paper): add acknowledgements section
  inst/paper.md
Due: none

chore(paper): fix basedpyright citation
  inst/paper.bib
Due: none

fix(format): add missing "self." for python_blocks - required in format_qmd() - and add valueerror to catch it in future (#173)
  src/lintquarto/convert/converter.py
  src/lintquarto/runner.py
Due: lint-package

fix(ruff-check-fix): amend error code catch that was preventing ruff-check-fix
  src/lintquarto/runner.py
Due: lint-package

test(format): add formatter back tests
  tests/test_back_format.py
Due: lint-package

chore(v0.13.1): prep for release
  CHANGELOG.md
  CITATION.cff
  README.md
  inst/codemeta.json
  src/lintquarto/__init__.py
Due: lint-package

docs(help): update to "run tools on" rather than "lint"
  README.md
  docs/cli/cli-help.md
  src/lintquarto/args.py
  src/lintquarto/config.py
Due: lint-package
