Repository lintquarto/lintquarto: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-package, lint-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-package
        name: Lint Package
        entry: ./lint_package.sh
        language: system
        pass_filenames: true
        files: \.py$
        stages: [commit]
      - id: lint-docs
        name: Lint Documentation
        entry: ./lint_docs.sh
        language: system
        pass_filenames: true
        files: ^docs/.*\.(py|qmd)$
        stages: [commit]

chore(contributing): spelling error
  CONTRIBUTING.md
Due: none

docs(ruff): add ruff format to docs
  docs/_quarto.yml
  docs/pages/tools/ruff.qmd
  docs/pages/tools/summary.qmd
Due: lint-docs

docs(formatters): remove "alpha" description
  README.md
  docs/cli/cli-help.md
  src/lintquarto/args.py
Due: lint-package

docs(formatters): add the remade ruff_format.qmd that I somehow deleted and didn't commit 😭
  docs/pages/tools/ruff_format.qmd
Due: lint-docs

fix(docs): remove "```" from docstring - it broke quartodoc!
  src/lintquarto/convert/analyse_python.py
Due: lint-package

docs(blog): add blog post for PyOpenSci
  blog/cover-image.jpg
  blog/pyopensci_blogpost.md
Due: none

docs(linters): correct linters + type checkers --> broader "code quality tools"
  CONTRIBUTING.md
  README.md
  docs/index.qmd
  docs/pages/get_started.qmd
Due: lint-docs
