Repository lintquarto/lintquarto: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-package, lint-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-package
        name: Lint Package
        entry: ./lint_package.sh
        language: system
        pass_filenames: true
        files: \.py$
        stages: [commit]
      - id: lint-docs
        name: Lint Documentation
        entry: ./lint_docs.sh
        language: system
        pass_filenames: true
        files: ^docs/.*\.(py|qmd)$
        stages: [commit]

style(all): ran ruff format (#113)
  src/lintquarto/__main__.py
  src/lintquarto/converter.py
  src/lintquarto/linelength.py
  tests/test_back.py
  tests/test_converter.py
  tests/test_equivalence.py
  tests/test_linelength.py
  tests/test_linters.py
  tests/test_main.py
  tests/test_package.py
Due: lint-package

refactor(lint): simplify to just using ruff (#113)
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  lint_docs.sh
  lint_package.sh
Due: none

chore(all): minor fixes (COM812 warning, lint job name, args return type)
  .github/workflows/lint.yaml
  pyproject.toml
  src/lintquarto/args.py
Due: lint-package

style(docs): remove old pylint and noqa messages (#113)
  docs/pages/tools/flake8.qmd
  docs/pages/tools/mypy.qmd
  docs/pages/tools/pycodestyle.qmd
  docs/pages/tools/pydoclint.qmd
  docs/pages/tools/pyflakes.qmd
  docs/pages/tools/pylint.qmd
  docs/pages/tools/pyrefly.qmd
  docs/pages/tools/pyright.qmd
  docs/pages/tools/pytype.qmd
  docs/pages/tools/radon.qmd
  docs/pages/tools/ruff.qmd
  docs/pages/tools/vulture.qmd
Due: lint-docs

style(pyproject): ignore docs/ examples when lint
  pyproject.toml
Due: none

refactor(tools): restructure subprocess run command
  docs/pages/tools/flake8.qmd
  docs/pages/tools/mypy.qmd
  docs/pages/tools/pycodestyle.qmd
  docs/pages/tools/pydoclint.qmd
  docs/pages/tools/pyflakes.qmd
  docs/pages/tools/pylint.qmd
  docs/pages/tools/pyrefly.qmd
  docs/pages/tools/pyright.qmd
  docs/pages/tools/pytype.qmd
  docs/pages/tools/radon.qmd
  docs/pages/tools/ruff.qmd
  docs/pages/tools/vulture.qmd
Due: lint-docs

docs(all): say only runs on executable python code (#107)
  docs/index.qmd
  docs/pages/get_started.qmd
  docs/pages/tools/summary.qmd
Due: lint-docs

fix(args): switch typing.Never (3.11+) to typing.NoReturn (3.6+)
  src/lintquarto/args.py
Due: lint-package

docs(related): document related tools panache nbqa (#115)
  docs/_quarto.yml
  docs/pages/tools/related.qmd
Due: lint-docs

feat(nonexec): support linting non-executable cells + tests (#108)
  docs/index.qmd
  docs/pages/tools/summary.qmd
  src/lintquarto/__main__.py
  src/lintquarto/converter.py
  tests/test_converter.py
Due: lint-package, lint-docs

fix(nonexec): amend process_line() to also support {.python} (#108)
  src/lintquarto/converter.py
  tests/test_converter.py
Due: lint-package

docs(all-contributors): add all-contributors w/ amy and isabel
  .all-contributorsrc
  CONTRIBUTING.md
  README.md
Due: none

chore(get_started): mention pyyaml alongside toml
  docs/pages/get_started.qmd
Due: lint-docs

chore(v0.10.0): prepare for next release (CHANGELOG, CITATION.cff, __init__)
  CHANGELOG.md
  CITATION.cff
  src/lintquarto/__init__.py
Due: lint-package

docs(contributing): update conda _meta.yml instructions now 3.9+ instead of 3.7+
  CONTRIBUTING.md
Due: none

docs(get_started/paper): remove mention of being executable-only
  docs/pages/get_started.qmd
  inst/paper.md
Due: lint-docs

docs(readme/get_started): add lint-non-exec to basic usage
  README.md
  docs/pages/get_started.qmd
Due: lint-docs

docs(readme): move contributors section
  README.md
Due: none

docs(all-contributors): add jaycrick for bug report (#126)
  .all-contributorsrc
  README.md
Due: none

test(cellmagic): add tests which fail, flagging bug reported by jaycrick (#126)
  tests/test_cell_magic.py
Due: lint-package

fix(cellmagic): fix issue reported by jaycrick (#126)
  src/lintquarto/converter.py
Due: lint-package

test(linters): add test to check all required linters for testing are present in environment being used
  tests/test_environment.py
Due: lint-package

style(src/tests): ruff format + check --fix
  src/lintquarto/__main__.py
  src/lintquarto/converter.py
  tests/test_cell_magic.py
  tests/test_converter.py
Due: lint-package

fix(pyrefly): add pyrefly.toml, required for 1.0.0 backcompatible behaviour in back tests (#128)
  pyrefly.toml
Due: none

fix(test_environment): skip if pyrefly + python 3.13 as pyrefly doesn't support that
  tests/test_back.py
  tests/test_environment.py
  tests/utils.py
Due: lint-package

chore(v0.11.0): prepare for next release
  CHANGELOG.md
  CITATION.cff
  README.md
  src/lintquarto/__init__.py
Due: lint-package

skip directories named qmd
  src/lintquarto/__main__.py
  tests/test_main.py
Due: lint-package

oops a print
  src/lintquarto/__main__.py
Due: lint-package

docs(all-contributors): add @sneakers-the-rat
  .all-contributorsrc
  README.md
Due: none

test(valuebox): add test detecting valuebox error (#134)
  tests/test_converter.py
Due: lint-package

test(valuebox): add some spacing variants (#134)
  tests/test_converter.py
Due: lint-package

fix(valuebox): in converter, if valuebox, replace chunk content with placeholder (#134)
  src/lintquarto/converter.py
Due: lint-package

chore(test_converter): ruff format
  tests/test_converter.py
Due: lint-package

docs(readme/badges): Moved README badges to table.
  README.md
Due: none

feat(main): fail fast for invalid or missing linters (#133)
  src/lintquarto/__main__.py
Due: lint-package

build(uv): remove uv.lock and pythonversion - now, actions install from pyproject, and CONTRIBUTING supports any environment manager
  .github/workflows/build-publish.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/tests.yaml
  .python-version
  CONTRIBUTING.md
  uv.lock
Due: none

fix(workflows): add uv venv
  .github/workflows/build-publish.yaml
  .github/workflows/docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/tests.yaml
Due: none

fix(workflows): accidentally put v8 instead of v7 for setup-uv
  .github/workflows/tests.yaml
Due: none

fix(docs): add quartodoc compatability fix
  .github/workflows/docs.yaml
Due: none

fix(docs): further compatability fixes for griffe
  .github/workflows/docs.yaml
Due: none
