Repository lintquarto/lintquarto: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-package, lint-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-package
        name: Lint Package
        entry: ./lint_package.sh
        language: system
        pass_filenames: true
        files: \.py$
        stages: [commit]
      - id: lint-docs
        name: Lint Documentation
        entry: ./lint_docs.sh
        language: system
        pass_filenames: true
        files: ^docs/.*\.(py|qmd)$
        stages: [commit]

chore(dependencies): add yaml to pyproject and types-pyyaml to contributing.md
  CONTRIBUTING.md
  pyproject.toml
Due: none

fix(pyproject): correct yaml to pyyaml
  pyproject.toml
Due: none

fix(test_converter): add typing List
  tests/test_converter.py
Due: lint-package

fix(test_package): set yaml as known missing (plus more error codes allowed)
  tests/test_package.py
Due: lint-package

Built site for gh-pages
  .nojekyll
  pages/api/QmdToPyConverter.html
  pages/contributing.html
  pages/tools/flake8.html
  pages/tools/mypy.html
  pages/tools/pycodestyle.html
  pages/tools/pydoclint.html
  pages/tools/pyflakes.html
  pages/tools/pylint.html
  pages/tools/pyrefly.html
  pages/tools/pyright.html
  pages/tools/pytype.html
  pages/tools/radon.html
  pages/tools/ruff.html
  pages/tools/summary.html
  pages/tools/vulture.html
  search.json
  sitemap.xml
Due: none

build(env): switch from virtualenv/conda to uv
  .python-version
  CONTRIBUTING.md
  pyproject.toml
  requirements-dev.txt
  requirements-stable.yml
  uv.lock
Due: none

fix(utils): correct to >= (else includes 3.12.x)
  tests/utils.py
Due: lint-package

build(env): upgrade python + uv run instructions
  .python-version
  CONTRIBUTING.md
Due: none

fix(uv): fix griffe versions that work
  CONTRIBUTING.md
  uv.lock
Due: none

build(env): remove flit
  CONTRIBUTING.md
  pyproject.toml
  uv.lock
Due: none

docs(contributing): update package build instructions to uv
  CONTRIBUTING.md
Due: none

chore(v0.8.0): update __init__, README, CITATION.cff and CHANGELOG.md
  CHANGELOG.md
  CITATION.cff
  README.md
  src/lintquarto/__init__.py
Due: lint-package

fix(ci): forgot to update with uv 😂 attempted switch from requirements to uv in docs.yaml
  .github/workflows/docs.yaml
Due: none

fix(ci): attempt to fix docs.yaml - didn't use uv for render
  .github/workflows/docs.yaml
Due: none

fix(ci): attempt to fix docs - didn't use uv for render
  .github/workflows/docs.yaml
Due: none

fix(ci): fix lint to use uv
  .github/workflows/lint.yaml
Due: none

feat(ci): run on pull request for docs, lint and tests (avoiding issue I had just now, of merging to main without realising they would fail)
  .github/workflows/docs.yaml
  .github/workflows/lint.yaml
  .github/workflows/tests.yaml
Due: none

chore(v0.8.0): update changelog
  CHANGELOG.md
Due: none

fix(ci): only upload/commit coverage badge for push (not pull)
  .github/workflows/tests.yaml
Due: none

feat(ci): add new action to build package, and publish (if release) (updated CONTRIBUTING + CHANGELOG accordingly)
  .github/workflows/build-publish.yaml
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

refactor(converter): reduce complexity of _handle_python_chunk by dividing into separate methods (#91)
  src/lintquarto/converter.py
Due: lint-package

feat(converter): handle quarto code annotations (#78)
  src/lintquarto/converter.py
  tests/test_converter.py
Due: lint-package

fix(tests.yaml): amend badge commit to work with protection rules
  .github/workflows/tests.yaml
  README.md
  images/coverage-badge.svg
Due: none

docs(paper): corrections
  inst/paper.md
Due: none

ci(tests): switch to codecov (#100)
  .github/workflows/tests.yaml
Due: none

docs(readme): add code-cov badge
  README.md
Due: none

chore(contributing): correct numbering
  CONTRIBUTING.md
Due: none

chore(v0.9.0): prep for release
  CHANGELOG.md
  CITATION.cff
  README.md
  src/lintquarto/__init__.py
Due: lint-package

docs(ruff): provide clearer explanation re: ruff linter and formatter (#109)
  docs/pages/tools/ruff.qmd
Due: lint-docs

refactor(tests): move ci test env from .txt to pyproject (#114)
  .github/workflows/tests.yaml
  CONTRIBUTING.md
  pyproject.toml
  requirements-test.txt
Due: none

fix(ci): add uv run to pytest commands (#114)
  .github/workflows/tests.yaml
Due: none

fix(ci): correct tests install command as I want them under [dependency-groups] not [optional-dependencies] as not user facing (#114)
  .github/workflows/tests.yaml
Due: none

feat(python): remove support for python 3.7+3.8
  .github/workflows/tests.yaml
  CONTRIBUTING.md
  README.md
  docs/pages/get_started.qmd
  pyproject.toml
  src/lintquarto/__main__.py
  tests/test_back.py
  tests/test_package.py
  tests/utils.py
  uv.lock
Due: lint-package, lint-docs

docs(install): add instructions for installing dev version (#110)
  README.md
  docs/pages/get_started.qmd
Due: lint-docs

docs(contributing): fixed hyperlinks (#111)
  CONTRIBUTING.md
Due: none

style(all): set ruff ALL and lint (#113)
  docs/pages/helpers.py
  pyproject.toml
  src/lintquarto/__main__.py
  src/lintquarto/args.py
  src/lintquarto/converter.py
  src/lintquarto/linelength.py
  src/lintquarto/linters.py
  tests/test_args.py
  tests/test_back.py
  tests/test_converter.py
  tests/test_equivalence.py
  tests/test_linelength.py
  tests/test_linters.py
  tests/test_main.py
  tests/test_package.py
  tests/utils.py
  vulture/whitelist.py
Due: lint-package, lint-docs

style(all): linting (#113)
  docs/pages/helpers.py
  pyproject.toml
  src/lintquarto/__main__.py
  src/lintquarto/converter.py
  src/lintquarto/linelength.py
  tests/test_args.py
  tests/test_back.py
  tests/test_converter.py
  tests/test_equivalence.py
  tests/test_linelength.py
Due: lint-package, lint-docs

style(all): linting (#113)
  docs/pages/helpers.py
  pyproject.toml
  src/lintquarto/__init__.py
  src/lintquarto/__main__.py
  src/lintquarto/args.py
  src/lintquarto/converter.py
  src/lintquarto/linelength.py
  tests/test_converter.py
  tests/test_equivalence.py
Due: lint-package, lint-docs

style(all): linting - all ruff check now addressed (#113)
  pyproject.toml
  src/lintquarto/__main__.py
  src/lintquarto/converter.py
  src/lintquarto/linelength.py
  src/lintquarto/linters.py
  tests/test_converter.py
  tests/test_linelength.py
  tests/test_linters.py
  tests/test_package.py
Due: lint-package
